.menuIconsLeft {
    padding-top: 10pt;
    color: #66efa9;
}

.menuIconsRight {
    padding-top: 10pt;
    color: #66efa9;
    margin-left: -25pt;
}

.menuIconsLeft .emailIcon {
    z-index: 0;
}

.menuIconsRight .printIcon {
    z-index: 0;
    float: left;
}

.menuIconsLeft .emailIcon:hover{
    width: 65px;
    z-index: 9;
}

.menuIconsRight .printIcon:hover {
    width: 65px;
    z-index: 10;
}

.updateBtn label{
    display: block;
    color: black;
    text-align: center;
    font-size: 18pt;
    font-weight: 500;
    margin-top: 13pt;
}

.updateBtn:hover label {
    color: #66afe9;

}

.notifBtn {
    color: black;
    text-align: center;
}

.notifBtn:hover {
    color: #66afe9;
}

.searchBox{
    color: black;
    text-align: center;
    margin-top: -20px;
}

.searchInput {
    display: inline-flex;
    width: 90%;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid black;
}

.searchInput:focus {
    box-shadow: none;
}

.searchIcon {
    display: inline-flex;
    width: 20px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 0;
}

.formNew {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.newInput h4 {
    display: inline-block;
    margin-right: 5pt;
}

.new {
    width: 285px;
    height: auto;
    display: inline-block;
}

.new:focus {
    box-shadow: none;
}

.submitBtn {
    width: 150px;
    height: auto;
    display: inline-block;
}

.resetBtn {
    width: 100px;
    height: auto;
    display: inline-block;
}

.table-striped {
    width: 100%;
}

.table-striped th {
    border-bottom: 2px solid black;
}

.resetMainForm {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    float: right;
    color: #66afe9;
    box-shadow: none;
}

.resetMainForm:active {
    box-shadow: none;
}

.notifBtn h3 {
    text-align: right;
    margin-right: -10pt;
}

.notNumbers {
    color: white;
    background-color: red;
    margin-left: -10pt;
    height: 20pt;
    width: 20pt;
    font-size: 12pt;
    border-radius: 25pt;
    margin-top: 15pt;
    padding-top: 3pt;
}

.modal-dialog {
    width: 1500px;
}
